<!doctype html>
<html>
<head>
    <title>Hotties 👅 Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-2">
            <div class="well">
                <h3><span class="fa fa-user"></span> Hottie's Profile Info</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
      <div>
        <div class="col-sm-5">
          <h3 class="text-center">Exclusive Megan Images</h3>

        <section class="firstPost text-center">
          <h2>I Made It Onto Times!</h2>
          <h3>Hey Hotties!! I was serving real Hot Girl Ish on this photoshoot. </h3>
          <img src="img/timesmeg.jpg" alt="Times Feature Megan thee Stallion" name="image" value="img/timesmeg.jpg">
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li class="message">
              <span><%= messages[i].name %></span>
              <span><%= messages[i].msg %></span>
              <span><%= messages[i].thumbUp %></span>
              <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
              <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

          <h2>Add a caption</h2>
        <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="text" value="<%= user.local.email %>" name="name">
            <input type="text" placeholder="message" name="msg">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>
      </section>

      <section class="secondPost">
        <h2>Foe Is Over It!</h2>
        <h3> Foe is over our mini photoshoot!</h3>
        <img src="img/foemeg.jpg" alt="Times Feature Megan thee Stallion" name="image" value="img/timesmeg.jpg">
        <ul class="messages">
        <% for(var i=0; i<messages2.length; i++) {%>
          <li class="message">
            <span><%= messages2[i].name %></span>
            <span><%= messages2[i].msg %></span>
            <span><%= messages2[i].thumbUp %></span>
            <span><i class="fa fa-thumbs-up tu2" aria-hidden="true"></i></span>
            <span><i class="fa fa-thumbs-down td2" aria-hidden="true"></i></span>
            <span><i class="fa fa-trash t2" aria-hidden="true"></i></span>
          </li>
        <% } %>
        </ul>

        <h2>Add a caption</h2>
      <% if (user.local.email) { %>
        <form action="/messages2" method="POST">
          <input type="text" value="<%= user.local.email %>" name="name">
          <input type="text" placeholder="message" name="msg">
          <button type="submit">Submit</button>
        </form>
      </div>
      <% } %>
    </section>
    <!-- <section class="thirdPost">
      <ul class="messages">
      <% for(var i=0; i<messages.length; i++) {%>
        <li class="message">
          <span><%= messages[i].name %></span>
          <span><%= messages[i].msg %></span>
          <span><%= messages[i].thumbUp %></span>
          <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
          <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
          <span><i class="fa fa-trash" aria-hidden="true"></i></span>
        </li>
      <% } %>
      </ul>

      <h2>Add a caption</h2>
    <% if (user.local.email) { %>
      <form action="/messages" method="POST">
        <input type="text" value="<%= user.local.email %>" name="name">
        <input type="text" placeholder="message" name="msg">
        <button type="submit">Submit</button>
      </form>
    </div>
    <% } %>
  </section> -->
      </div>

<script src="main.js"></script>

</body>
</html>
